{% extends "dashboard/owner-base.html" %}

{% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hospital name</th>
                        <th>Region</th>
                        <th>Super admin</th>
                        <th>created</th>
                        <th>Renewal date</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Hospital name</th>
                        <th>Region</th>
                        <th>Super admin</th>
                        <th>created</th>
                        <th>Renewal date</th>
                        <th>actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for hospital in hospitals%}
                    <tr>
                        <td>{{hospital.name}}</td>
                        <td>{{hospital.region}}</td>
                        <td>{{hospital.admin_name}}</td>
                        <td>{{hospital.date_from}}</td>
                        <td>{{hospital.date_due}}</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm mx-2 text-center">
                                <i class="bi bi-pencil"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'delete-hospital' hospital.id %}"
                                class="btn btn-outline-danger btn-sm mx-2 text-center"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div></div>
    <a href="{% url 'register-hospital'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> <i
            class="bi bi-plus-circle-fill"></i> Add</a>
</div>
{% endblock content %}