{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h1 class="mt-5 text-center">
    Add a Folder group
</h1>

<form class="border p-5 bg-white" method="POST">
    {% csrf_token%}
    <fieldset class="form-group">
        {{form|crispy}}
    </fieldset>
    <div class="form-group mt-4">
        <a href="{% url 'departments'%}" class="btn btn-danger text-white" type="submit">Cancel</a>
        <button class="btn btn-info text-white" type="submit">Create Folder</button>
    </div>
</form>
{% endblock %}