{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h1 class="mt-5 text-center">
    HOSPITAL SYSTEM CONFIGURATION
</h1>

<form class="border p-5 bg-white" method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    <p class="text-center text-secondary">Enter your hospital information</p>
    <fieldset class="form-group">
        {{form|crispy}}
    </fieldset>
    <div class="form-group mt-4">
        <button class="btn btn-info text-white" type="submit">Submit</button>
    </div>
</form>
{% endblock %}